<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <p-button
      (click)="layoutService.onMenuToggle()"
      size="large"
      severity="secondary"
      variant="text"
      class="layout-topbar-action layout-menu-button">
      <i class="pi pi-bars"></i>
    </p-button>
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <app-theme />
    </div>

    <!-- User Profile Section -->
    <div
      class="user-profile-wrapper"
      role="button"
      tabindex="0"
      (click)="userMenu.toggle($event)"
      (keydown.enter)="userMenu.toggle($event)"
      (keydown.space)="userMenu.toggle($event)">
      <div class="user-profile-desktop">
        <p-chip [label]="userEmail()" />
        <p-avatar [image]="userAvatar()" size="large" shape="circle" />
      </div>
      <!-- User profile mobile -->
      <div class="user-profile-mobile">
        <div class="user-avatar-container">
          <p-avatar [image]="userAvatar()" size="large" shape="circle" />
          <span class="user-initial-badge">{{ userInitial() }}</span>
        </div>
      </div>
    </div>

    <p-menu #userMenu [model]="userMenuItems" [popup]="true" class="user-dropdown-menu"></p-menu>
  </div>
</div>
